/*******************************************
*
*	Western Montana Outdoor news
*
*	White        		: #fff
*	Indigo				: #3f51b5
*	Indigo (dark)		: #303f9f
*	Light blue          : #c5cae9
*	Pink				: #ff4081
*	Gray (dark)			: #212121
*	Gray (medium)		: #727272
*	Gray (light)		: #b6b6b6
********************************************/

/*------------------------------------------
*	Base
____________________________________________*/

body {

}

h1 {

}

h2 {

}

ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

p {

}

a {

}

/*------------------------------------------
*	Header
____________________________________________*/

.header {
	background-color: #3f51b5;
	color: #fff;
	margin-bottom: 40px;
	margin: 0 auto;
	max-width: 800px;
	padding: 20px 0;
	text-align: center;
}

/*------------------------------------------
*	Logo
____________________________________________*/

.logo {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

/*------------------------------------------
*	News
____________________________________________*/

.news-item {
	border-bottom: 1px solid #b6b6b6;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.news-link {
	color: #3f51b5;
	font-size: 24px;
}

.news-meta-item {
	display: inline;
	margin-right: 15px;
}

/*------------------------------------------
*	Container
____________________________________________*/

.container {
	margin: 0 auto;
	max-width: 800px;
}
